.button {
  cursor: pointer;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: border-color 0.25s;
  border: 1px solid transparent;
}

.primary {
  background: #1395e0;
  color: white;
  border-radius: 4px;
}

.secondary {
  background: gray;
  color: black;
}
